 #pt1 img{
    margin: 0;
    width: 100%;
}
  #footer{
    width:100%;
    border: 1px solid grey;
    color:#ffffff
   
}

  .logo{
    margin: 10px 50px;
    height: 100px;
	float: left;
}
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  
  .bg-1 { 
      background-color: #ffffff; /* Green */
      color: #000000;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: 		#FFFFFF; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: 	#FF8C00; /* Black Gray */
      color: #ffffff;
  }
  .bg-5 { 
      background-color: 	#000000; /* Black Gray */
      color: #ffffff;
  }

  .container-fluid {
      padding-top: 20x;
      padding-bottom: 20px;
  }
  .navbar {
  background-color: 	#000000;
      padding-top: 15px;
      padding-bottom: 0px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 20px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #ff0000 !important;
  }
 p{
     border-bottom: 6px solid red;
     background-color: lightgrey;

 }